{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}- {{ object|yesno:"Edit worker,Create a new worker" }}{% endblock %}

{% block content %}
  <h1>{{ object|yesno:"Edit,Create" }}
    {% if object %}
      "{{ object.first_name }} {{ object.last_name }}"
    {% else %}
      new worker
    {% endif %}
  </h1>
  <div class="container-fluid py-4">
    <form action="" method="post" novalidate>
      {% csrf_token %}
      {% crispy form %}

      <input type="submit" value="Save" class="btn btn-primary">
    </form>
  </div>
{% endblock %}